name: horus

on:  # yamllint disable-line rule:truthy
  - push

jobs:

  test:
    container:
      image: python:3.9
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install sudo package
        run: apt update && apt install sudo

      - name: Install graphviz system dependency
        run: |
          sudo apt-get update
          sed -i "/^# deb.*universe/ s/^# //" /etc/apt/sources.list
          sudo apt-get install -y software-properties-common
          sudo apt-get install -y graphviz graphviz-dev

      - name: Lint and Test code
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --preview
          export PATH="/github/home/.local/bin:$PATH"
          poetry --version
          poetry install
          poetry run ./lint.sh
          poetry run ./test.sh
